body {
	font-size: 16px;
	line-height: 1.2;
	font-weight: 400;
	font-family: "Roboto", "Arial", sans-serif;
}
body>input[type="radio"] {
	display: none;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.site-wrapper {
	min-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #849d8f;
	-webkit-transition: background-image 0.5s ease, background-color 0.5 ease;
	transition: background-image 0.5s ease, background-color 0.5 ease;
}
.site-wrapper::before,
.site-wpapper::after {
	content: "";
	visibility: hidden;
}
.site-wrapper::before {
	background-image: url("../img/slide2.jpg");
}
.site-wpapper::after {
	background-image: url("../img/slide3.jpg");
}
.content-wrapper {
	width: 1146px;
	padding-right: 27px;
	padding-left: 27px;
	padding-top: 9px;
	margin-left: auto;
	margin-right: auto;
}
nav {
	width: 100%;
}
.logo {
	float: left;
	font-style: 0;
	line-height: 0;
	margin-left: -7px;
	margin-right: 17px;
}
.main-menu {
	float: left;
	width: 500px;
	margin: 0;
	padding: 0;
	
}
.main-menu>li {
	display: inline-block;
	position: relative;
	margin-left: 0px;
	padding:13px 0px;
	vertical-align: top;
}
.main-menu>li>a {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	padding: 7px 12px;
	border-radius: 18px;
	color: #ffffff;
	font-weight: 700;
}
.active-page a {
	background-color: #d07058;
	color: #ffffff;	
	text-decoration: none;
}

.main-menu>li>a:hover {
	background-color: #f7f6f3;
	color: #333333;	
	text-decoration: none;
}
.main-menu>li>a:active {
	background-color: #ededed;
	color: #333333;	
	text-decoration: none;
	box-shadow: inset 0px 2px 1px rgb(105,105,105);
}
.sub-menu {
	position: absolute;
	left: -7px;
	width: 143px;
	background-color: #f8f7f4;
	z-index: 20;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	padding-bottom: 8px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	display: none;
}
.main-menu li li {
	display: block;
}
.sub-menu li {
	padding-top: 3px;
}
.sub-menu li:first-child {
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
	padding: 5px 0 7px 0;
	position: relative;
}
.sub-menu li:first-child::after {
	content: "";
	position: absolute;
	right: 6px;
	bottom: 0;
	left: 9px;
	height: 1px;
	background-color: #d1d0ce;
}
.sub-menu li a {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	padding: 6px 20px;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	text-decoration: none;
	background-color: transparent;
}
.sub-menu .active-product a {
	background-color: #d07058;
	color: #ffffff;
}

.sub-menu li a:hover {
	background-color: #fbded7;
}
.sub-menu li a:active {
	background-color: #f6b5a5;
}
.main-menu>li:hover .sub-menu {
	display: block;
}

.right-menu {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
}
.right-menu>li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding-top: 13px;
	padding-bottom: 16px;
	margin-right: 6px;
}
.right-menu>li:last-child {
	margin-right: 0;
}
.right-menu>li>a{
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: middle;
	font-weight: 500;
	text-decoration: none;
	border-radius: 18px;
}
.search-btn a,
.login-btn>a {
	color: #ffffff;
	background-color: rgba(255,255,255,0.2);
}
.search-btn a:hover,
.login-btn>a:hover {
	color: #323232;
	background-color: #f8f7f4;
}
.search-btn a {
	width: 32px;
	position: relative;
	font-size: 0px;
	border-radius: 50%;
	background: rgba(255,255,255,0.2) url("../img/magnifier.svg") no-repeat;
	background-position: center;
}
.search-btn a:hover {
	background: #f8f7f4 url("../img/magnifier-black.svg") no-repeat;
	background-position: center;	
}
.search-form {
	box-sizing: border-box;
	position: absolute;
	left: -310px;
	width: 340px;
	background-color: #f8f7f4;
	padding: 20px 15px;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	display: none;
}
.search-form input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	padding-left: 14px;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-right: 14px;
}
.search-btn:hover .search-form {
	display: block;
}
.login-btn>a {
	box-sizing: border-box;
	width: 93px;
	padding-left: 43px;
	position: relative;
}
.login-btn>a::before {
	content: "";
	position: absolute;
	background: url("../img/login.svg") no-repeat;
	width: 21px;
	height: 19px;
	left: 16px;
	top: 6px;
}
.login-btn>a:hover::after {
	content: "";
	position: absolute;
	background: url("../img/login-black.svg") no-repeat;
	width: 21px;
	height: 19px;
	left: 15px;
	top: 6px;
}
.login-form {
	position: absolute;
	left: -183px;
	width: 240px;
	background-color: #f8f7f4;
	padding-top: 20px;
	padding-right: 17px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	z-index: 20;
	display: none;
}
.login-btn:hover .login-form  {
	display: block;
}
.login-form input {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	padding-top: 7px;
	padding-right: 14px;
	padding-bottom: 11px;
	padding-left: 13px;
	margin-bottom: 20px;
}
.intrance-btn {
	float: left;
	margin-right: 20px;
}
.intrance-links {
	float: right;
}
.intrance-links a {
	display: block;
	font-size: 13px;
	line-height: 21px;
	color: #323232;
}
.btn {
	display: inline-block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #ffffff;
	padding-top: 11px;
	padding-bottom: 14px;
	padding-left: 23px;
	padding-right: 23px;
	border-radius: 100px;
	border: none;
	background: #f26843;
	background: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
	background: linear-gradient(to top, #e74a35 0%, #f26843 100%);
	box-shadow: 0 1px 2px rgba(172,16,0,1);
	cursor: pointer;
	text-decoration: none;
	margin-right: 4px;
	font-family: "Roboto", "Arial", sans-serif;
}
a, .btn, select, button, option {
	outline: none;
}
.btn:hover {
	background: -webkit-linear-gradient(bottom,#ec6f5e 0%,#f58669 100%);
	background: linear-gradient(to top,#ec6f5e 0%,#f58669 100%);
	box-shadow: 0 1px 2px rgba(172,16,0,1);
	color: #fefefe;
}
.btn:active {
	background: -webkit-linear-gradient(bottom,#e1613e 0%,#d74531 100%);
	background: linear-gradient(to top,#e1613e 0%,#d74531 100%);
	box-shadow: inset 0 2px 2px rgba(148,39,24,1);
	color: #fceeec
}
.basket-btn .basket-empty {
	min-width: 117px;
	padding-left: 44px;
	padding-right: 16px;
	box-sizing: border-box;
	position: relative;
	color: #ffffff;
	background-color: rgba(255,255,255,0.2);
}
.basket-btn .basket-empty:hover {
	color: #323232;
	background-color: #f8f7f4;
}
.basket-btn .basket-empty::before {
	content: "";
	position: absolute;
	background: url("../img/basket.svg") no-repeat;
	width: 21px;
	height: 20px;
	left: 16px;
	top: 6px;
}
.basket-btn .basket-empty:hover::after {
	content: "";
	position: absolute;
	background: url("../img/basket-black.svg") no-repeat;
	width: 21px;
	height: 20px;
	left: 16px;
	top: 6px;
}
.basket-btn .basket-full {
	color:#000000;
	background-color: #ffffff;
}
.basket-btn .basket-full {
	min-width: 117px;
	padding-left: 44px;
	padding-right: 16px;
	box-sizing: border-box;
	position: relative;
}
.basket-btn .basket-full::before {
	content: "";
	position: absolute;
	background: url("../img/basket-full.png") no-repeat;
	width: 21px;
	height: 20px;
	left: 16px;
	top: 6px;
}
.basket-form {
	position: absolute;
	left: -423px;
	width: 513px;
	background-color: #f8f7f4;
	padding: 20px 12px 0px 15px;
	margin-top: 5px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	font-size: 14px;
	line-height: 24px;
	color: #999999;
	z-index: 20;
	display: none;
}
.basket-table {
	border-collapse: collapse;
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 12px;
	width: 100%;
}
.basket-table td {vertical-align: top;}

.col-1 {
	padding-top: 11px;
	padding-right: 10px;
	padding-bottom: 16px;
}
.col-2{
	padding-right: 5px;
	padding-bottom: 16px;
}	
.col-3{
	padding-top: 8px;
	padding-right: 12px;
	width: 230px;
	padding-bottom: 16px;
}	
.col-4{
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 16px;
}	
.col-5{
	padding-top: 8px;
	padding-bottom: 16px;
	padding-right: 10px;
}	
.total-row {
	padding-top: 15px;
	text-align: right;
	border-top: 1px solid #cacac7;
	color: #333333;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
}
.table-btn {
	text-align: right;
	margin-bottom: 21px;
}
.table-btn .btn {
	padding-left: 14px;
	padding-right: 14px;
}
.basket-btn:hover .basket-form  {
	display: block;
}
.phones {
	text-align: right;
	font-size: 14px;
	line-height: 14px;
	font-weight: 700;
	color: #ffffff;
}
.phones a {
	font-size: 22px;
	line-height: 33px;
	font-weight: 900;
	color: #ffffff;
	text-decoration: none;
}
/********************************************************************************************
Слайдер
********************************************************************************************/
.slider {
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 42px;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 60px;
	line-height: 60.35px;
}
.slide-btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 41px;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160,32,11,0.76);
	background: #f26843;
	background: -webkit-linear-gradient(bottom,#e74a35 0%,#f26843 100%);
	background: linear-gradient(to top,#e74a35 0%,#f26843 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172,16,0,0.64);
}
.slide-btn:hover {
	background: -webkit-linear-gradient(bottom,#ec6f5e 0%,#f58669 100%);
	background: linear-gradient(to top,#ec6f5e 0%,#f58669 100%);
	box-shadow: 0 2px 2px rgba(172,1,0,1);
	color: #fefefe;
}
.slide-btn:active {
	background: -webkit-linear-gradient(bottom,#e1613e 0%,#d74632 100%);
	background: linear-gradient(to top,#e1613e 0%,#d74632 100%);
	box-shadow: inset 0 2px 2px rgba(172,16,0,1);
	color: #fceeec;
}
.slider-controls {
	position: absolute;
	left: 0;
	bottom: 21px;
	z-index: 20;
}
.slider-controls label {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin-right: 4px;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;    
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 { 
	display: block;
}
#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide1.jpg");
} 
#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2.jpg");
} 
#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3.jpg");
} 
#btn-1:checked ~ .site-wrapper label[for="btn-1"] {
	background-color: #ffffff;
}
#btn-2:checked ~ .site-wrapper label[for="btn-2"] {
	background-color: #ffffff;
}
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}
/********************************************************************************************************************/
.banners {
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 700;
	width: 1146px;
	margin-bottom: 41px;
}
.banners h3 {
	padding: 0;
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin-bottom: 17px;
}
.banner-1 {
	float: left;
	box-sizing:border-box;
	width: 560px;
	padding: 14px 17px 14px 17px;
	background: #732541 url("../img/raspberries-fill.jpg") no-repeat;
	border-radius: 15px;
}
.banner-2 {
	float: right;
	box-sizing: border-box;
	width: 560px;
	padding: 14px 17px 14px 17px;
	background: #43271b url("../img/chocolate-fill.jpg") no-repeat;
	border-radius: 15px;
}
.banner-text {
	padding-left: 2px;
	padding-right: 8px;
	margin-bottom: 46px;
}
.wrap-to-right {
	text-align: right;
}
.banners .wrap-to-right {
	margin-bottom: 9px;
}

/**********************************************************************************************************************/
.hits {
	color: #ffffff;
	margin-bottom: 39px;

}
.hit-1,
.hit-2,
.hit-3,
.hit-4 {
	float: left;
	width: 23.2705%;
	margin-right: 2.306%;
}
.hit-4 {
	margin-right: 0;
}
.hit-image {
	position: relative;
	margin-bottom: 9px;
}
.hits .hit-mark {
	position: absolute;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background-color: #ffffff;
}
.item-price {
	position: absolute;
	bottom: 12px;
	left: 0;
	font-size: 45px;
	line-height: 45px;
	text-shadow: 0 1px 3px rgba(49,50,53,0.5);
	font-weight: 700;
	color: #ffffff;
}
.item-price img{
	margin-bottom: -3px;
}
.item-price span {
	font-size: 30px;
}
.prod-name {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
}
/****************************СОСТОЯНИЯ ТЕКСТОВЫХ ССЫЛОК***********************/
.prod-name:hover,
.prod-name:active,
.sign a:hover,
.sign a:active,
.additional-links a:hover,
.additional-links a:active {
	color: #ffbc9e;
}
.login-form .intrance-links a:hover,
.login-form .intrance-links a:active,
.blog-theme:hover,
.blog-theme:active {
	color: #e84d37;
}
/**********************************************************************************************************************/
.production-info {
	padding-top: 23px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-bottom: 26px;
	background: #eddfc7 url("../img/fill-pattern-2.gif") repeat;
	margin-bottom: 40px;
	border-radius: 14px;
}
.production-info h2 {
	margin: 0;
	padding:  0;
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
	color: #323232;
	margin-bottom: 11px;
}
.block-1,
.block-2 {
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
}
.block-1 {
	margin-bottom: 12px;
}
.left-side {
	float: left;
	box-sizing: border-box;
	width: 540px;
	padding: 10px 0px 0px 56px;
	position: relative;
	margin-right: 26px;
}
.right-side {
	float: left;
	box-sizing: border-box;
	width: 540px;
	padding: 10px 3px 0px 56px;
	position: relative;
}
.block-1 .left-side::before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	background: url("../img/ice-cream.svg") no-repeat;
	left: 0;
	top: 0;
}
.block-1 .right-side::before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	background: url("../img/cow.svg") no-repeat;
	left: 0;
	top: 0;
}
.block-2 .left-side::before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	background: url("../img/leaf.svg") no-repeat;
	left: 0;
	top: 0;
}
.block-2 .right-side::before {
	content: "";
	position: absolute;
	width: 48px;
	height: 48px;
	background: url("../img/thermo.svg") no-repeat;
	left: 0;
	top: 0;
}
/**********************************************************************************************************************/
.news{
	width: 100%;
	margin-bottom: 40px;
}
.hot {
	float: left;
	width: 560px;
	box-sizing: border-box;
	min-height: 220px;
	padding: 21px 200px 23px 20px;
	border-radius: 15px;
	background: #ffffff url("../img/strawberry-fill.jpg") no-repeat;
}
.hot .theme {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
	margin-bottom: 5px;
}
.hot a {
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
}
.subscription {
	margin: 0;
	box-sizing: border-box;
	padding: 5px;
	float: right;
	width: 560px;
	min-height: 210px;
	background: #fe9e90 url("../img/fill-pattern-1.png");
	border-radius: 15px;
}
.subscription-form {
	box-sizing: border-box;
	margin: 0;
	padding-top: 28px;
	padding-left: 20px;
	padding-right: 15px;
	font-size: 14px;
	min-height: 210px;
	line-height: 14px;
	background-color: #f8f7f4;
	border-radius: 15px;
}
.subscription-form p{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin-bottom: 36px;
}
.subscription-form input {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 368px;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	padding: 8px 0px 10px 14px;
	margin-right: 10px;
	font-size: 16px;
	line-height: 24px;
}
.subscription-form .btn{
	padding-left: 18px;
	padding-right: 18px;
}
/**********************************************************************************************************************/
.location{
	width: 1200px;
	margin-left: -27px;
	position: relative;
}
.contacts {
	position: absolute;
	width: 302px;
	box-sizing: border-box;
	min-height: 305px;
	top: 62px;
	right: 27px;
	background-color: #fefdfc;
	border-radius: 15px;
	text-align: center;
	padding-top: 28px;
	padding-left: 25px;
	padding-right: 20px;
}
.contacts .description {
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	text-align: left;
	padding-right: 60px;
}
.contacts .data,
.contacts .data a {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}
.address {
	margin-bottom: 20px;
}
.phone-number {
	margin-bottom: 25px;
}
.contacts .data {
	line-height: 22px;	
	margin-top: 4px;
}
.feedback-form-btn a {
	text-align: center;
}
/***Всплывающая форма обратной связи***/
@-webkit-keyframes bounce {
	0% { 
		-webkit-transform:translateY(-2000px); 
		        transform:translateY(-2000px);
	}
	70% {
		-webkit-transform:translateY(30px);
		        transform:translateY(30px);
	}
	90% {
		-webkit-transform:translateY(-10px);
		        transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(0);
		        transform:translateY(0);
	}
}
@keyframes bounce {
	0% { 
		-webkit-transform:translateY(-2000px); 
		        transform:translateY(-2000px);
	}
	70% {
		-webkit-transform:translateY(30px);
		        transform:translateY(30px);
	}
	90% {
		-webkit-transform:translateY(-10px);
		        transform:translateY(-10px);
	}
	100% {
		-webkit-transform:translateY(0);
		        transform:translateY(0);
	}
}
.modal-content {
	position: fixed;
	box-sizing: border-box;
	width: 480px;
	margin: -240px;
	min-height: 302px;
	top: 50%;
	left: 50%;
	padding-top: 16px;
	padding-right: 26px;
	padding-bottom: 26px;
	padding-left: 25px;
	background-color: #f8f7f4;
	border-radius: 15px;
	z-index: 200;
	display: none;
}
.modal-content-close {
	width: 24px;
	height: 24px;
	font-size: 0;
	background-color: #f8f7f4;
	border: 0px;
	cursor: pointer;
	position: absolute;
	top: 19px;
	right: 16px;
}
.modal-content-close::before, 
.modal-content-close::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	right: -2px;
	top: 4px;
	border-radius: 1px;
	background-color: #000000;
}
.modal-content-close::before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.modal-content-close::after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.modal-content-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}
.feedback-form {
	margin: 0;
	padding: 0;
	text-align: right;
	font-family: "Roboto", "Arial", sans-serif;
}
.feedback-form .main-text {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
	padding-right: 40px;
	margin-bottom: 20px;
	text-align: left;
}
.feedback-form input {
	display: block;
	vertical-align: top;
	box-sizing: border-box;
	width: 267px;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	padding: 10px 0px 8px 14px;
	margin-right: 6px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px ;
	color: #999999;
}
.feedback-form textarea {
	display: block;
	vertical-align: top;
	box-sizing: border-box;
	width: 100%;
	border-radius: 4px;
	border: 1px solid #d3d3d2;
	padding-top: 7px;
	padding-left: 13px;
	padding-right: 0px;
	padding-bottom: 10px;
	margin-right: 6px;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 25px;
	color: #999999;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: none;
}
.modal-overlay-show{
	display: block;
}
/********************************************************************************************************/
.main-footer {
	width: 100%;
	padding-top: 16px;
	padding-bottom: 24px;
}
.footer-social {
	float: left;
	width: 267px;
	margin-right: 26px;
	padding-top: 16px;
}
.social-link {
	display: inline-block;
	vertical-align: top;
	font-size: 0px;
	border-radius: 50%;
	width: 37px;
	height: 37px;
	box-sizing: border-box;
	margin-right: 8px;
}
.social-link-tw {
	background: url("../img/tw-icon.svg") no-repeat center;
	border:3px solid rgba(255,255,255,0.5);
}	
.social-link-inst {
	background: url("../img/instagram-icon.svg") no-repeat center;
	border: 3px solid rgba(255,255,255,0.5);
}
.social-link-fb {
	background: url("../img/fb-icon.svg") no-repeat center;
	border: 3px solid rgba(255,255,255,0.5);
}
.social-link-vk {
	background: url("../img/vk-icon.svg") no-repeat center;
	border: 3px solid rgba(255,255,255,0.5);
}
.social-link-tw:hover {
	background: url("../img/tw-icon-hover.svg") no-repeat center;
	border: 4px solid rgba(255,255,255,0.71);
}	
.social-link-inst:hover {
	background: url("../img/instagram-icon-hover.svg") no-repeat center;
	border: 4px solid rgba(255,255,255,0.71);
}
.social-link-fb:hover {
	background: url("../img/fb-icon-hover.svg") no-repeat center;
	border: 4px solid rgba(255,255,255,0.71);
}
.social-link-vk:hover {
	background: url("../img/vk-icon-hover.svg") no-repeat center;
	border: 4px solid rgba(255,255,255,0.71);
}
.social-link-tw:active{
	background: url("../img/tw-icon-active.svg") no-repeat center;
	border: 4px solid rgba(234,234,234,0.70);
	box-shadow: inset 0 2px 1px #888888;
}	
.social-link-inst:active {
	background: url("../img/instagram-icon-active.svg") no-repeat center;
	border: 4px solid rgba(234,234,234,0.70);
	box-shadow: inset 0 2px 1px #888888;
}
.social-link-fb:active {
	background: url("../img/fb-icon-active.svg") no-repeat center;
	border: 4px solid rgba(234,234,234,0.70);
	box-shadow: inset 0 2px 1px #888888;
}
.social-link-vk:active {
	background: url("../img/vk-icon-active.svg") no-repeat center;
	border: 4px solid rgba(234,234,234,0.70);
	box-shadow: inset 0 2px 1px #888888;
}
.additional-links {
	float: left;
	width: 560px;
	padding-top: 13px;
}
.additional-links-left,
.additional-links-right {
	margin: 0px;
	padding: 0px; 
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: 267px;
}
.additional-links a{
	display: block;
	font-size: 13px;
	line-height: 21px;
	color: #ffffff;
}
.additional-links-left a {
	padding-left: 130px;
}
.additional-links-left a:first-child {
	position: relative;
	font-weight: 700;
}
.additional-links-left a:first-child::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	background: url("../img/heart.svg") no-repeat center;
	left: 107px;
	top: 2px;
}
.authors {
	float: right;
	width: 191px;
	padding-top: 1px;
}
.sign {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
} 
.sign a {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}
/************************************************************************************************************
gllacy-catalog.html
*************************************************************************************************************/
.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: -25px;
	margin-bottom: 1px;
}
.breadcrumbs li {
	display: inline;
	position: relative;
	padding-right: 16px;
}
.breadcrumbs li::after {
	content: "»";
	position: absolute;
	right: 7px;
	color: #ffffff;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.breadcrumbs a,
.current {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
}
.breadcrumbs a:hover,
.breadcrumbs a:active {
	color: #ffbc9e;
}
.catalog-page h1 {
	margin: 0;
	padding: 0;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 27px;
}
.filter-item {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
}
.filter-name {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500px;
	padding-left: 15px;
	margin-bottom: 8px;
}
.sorting-direction {
	height: 36px;
	padding: 0 10px;
	background-color: #aabcb2;
	border-radius: 100px;
	cursor: pointer;
	color: #ffffff;
	border: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.sorting-direction:hover {
	background-color: #ffffff;
	color: #000000;
}
.sorting-direction option {
	background-color: #ffffff;
	border-radius: 10px;
	color: #000000;
}
.range-filter {
	width: 220px;
}
.range-controls {
	position: relative;
	height: 36px;
	padding: 0 15px;
	background-color: #aabcb2;
	border-radius: 100px;
	overflow: hidden;
}
.range-controls .scale {
	margin-top: 16px;
	height: 4px;
	background-color: #d1dad3;
}
.range-controls .bar {
	margin-left: 22px;
	width: 100px;
	height: 4px;
	background-color: #f8f7f4;
}
.range-controls .toggle {
	position: absolute;
	top: 7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #f8f7f4;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	cursor: pointer;
}
.range-controls .toggle:hover {
	width: 22px;
	height: 22px;
	top: 5px;
}
.range-controls .min-toggle {
	left: 36px;
}
.range-controls .max-toggle {
	left: 133px;
}
.price-controls input {
	width: 30px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500px;
	border: none;
	background-color: transparent;
	text-align: center;
}
/**************************************/
.fat-check {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #aabcb2;
	border-radius: 100px;
	color: #ffffff;
	border: none;
}
.fat-radio input {
	display: none;
}
.fat-radio {
	position: relative;
	padding-left: 27px;
	padding-right: 20px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500px;
	cursor: pointer;
	font-weight: 500;
}
.fat-radio:last-child {
	padding-right: 0px;
}
.fat-radio input+.indicator {
	position: absolute;
	width: 18px;
	height: 18px;
	left: -1px;
	border-radius: 50%;
	border: 4px solid #aabcb2;
	box-shadow: 0 0 0 1px #f8f7f4;
	box-sizing: border-box;
	background-color: #aabcb2;
}
.fat-radio input:checked+.indicator {
	background-color: #f8f7f4;
}
.fat-radio input+.indicator:hover {
	box-shadow: 0 0 0 2px #f8f7f4;
	border: 3px solid #aabcb2;
	width: 16px;
	height: 16px;
}
/*****************************************/
.filter-block1 {
	margin-bottom: 14px;
	font-size: 0px;
}
.filter-block2 {
	margin-bottom: 15px;
	font-size: 0px;
}
.additive-check input {
	display: none;
}
.additive-check {
	padding: 9px 15px;
	background-color: #aabcb2;
	border-radius: 100px;
	color: #ffffff;
	border: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}
.additive-item {
	position: relative;
	padding-left: 30px;
	padding-right: 20px;
	cursor: pointer;
}
.additive-item:last-child {
	padding-right: 0px;
}
.additive-item input+.check-indicator {
	position: absolute;
	background: url("../img/checkbox-unchecked.svg") no-repeat;
	width: 20px;
	height: 20px;
	left: -1px;
	top: -1px;	
}
.additive-item input:checked+.check-indicator {
	background: url("../img/checkbox-checked.svg");
}
.additive-item input:checked+.check-indicator:hover {
	background: url("../img/checkbox-checked-hover.svg");
}
.additive-item input+.check-indicator:hover  {
	background: url("../img/checkbox-unchecked-hover.svg");
}
.btn-filter {
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	line-height: 18px;
	border: 2px solid #fbfcfb;
	padding: 7px 27px;
	background-color: #a6b7ae;
	border-radius: 100px;
	margin-top: 23px;
	cursor: pointer;
	font-family: "Roboto", "Arial", sans-serif;
}
.btn-filter:hover {
	background-color: #fbfcfb;
	color: #323232;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
.btn-filter:active {
	background-color: #eaeaea;
	color: #323232;
	box-shadow: inset 0px 2px 1px #696969;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
.product-filter {
	margin-bottom: 35px;
	font-family: "Roboto", "Arial", sans-serif;
}
/**************************************************/
.product-list {
	margin-left: -5px;

	font-size: 0px;
	margin-bottom: 45px;
}
.product-item {
	position: relative;
	margin-bottom: 8px;
}
.product-area {
	display: inline-block;
	box-sizing: border-box;
	width: 277px;
	font-size: 16px;
	vertical-align: top;
	margin-right: 16px;
	text-align: center;
	position: relative;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 20px;
	margin-bottom: -40px;
}
.product-area:nth-child(4n) {
	margin-right: -5px;
}
.view-btn{
	visibility: hidden;
	width:100%;
}
.view-btn .btn {
	padding-right: 18px;
	padding-left: 18px;
}
.product-area .product-name {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 10px;
	text-decoration: underline;
	padding: 0px 6px;
}
.product-area:hover .product-name {
	text-decoration: none;
}
.product-area:hover .view-btn {
	visibility: visible;
}
.product-area:hover {
	background-color: rgba(248,247,244,0.3);
	border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.4);
	z-index: 10;
}
.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	width: 100%;
	text-align: right;
	margin-bottom: 34px;
}
.pagination-item  {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	width: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	margin-right: 4px;
}
.prev {
	font-size: 0px;
	background: url("../img/prev(mark-for-pagination).svg") no-repeat center;
	margin-right: 6px;
}
.next {
	font-size:0px;
	background: url("../img/next(mark-for-pagination).png") no-repeat center;
	margin-right:-9px;
}
.pagination-item[href]:hover {
	background-color: #9db1a5;
}
.curr {
	background-color: #ffffff;
	color:#353535;
}
.pagination-item[href]:active {
	background-color: #ffffff;
	color: #353535;
}
.pagination-list .next:active {
	background: url("../img/next(mark-for-pagination)-active.png") no-repeat center;
	background-color: #ffffff;
}
.end-line{
	border-top: 1px solid #a9bbb1;
}